/**

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

red color: #c7332c;

**/

/** GENERAL SETTINGS **/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #ffd8a6;
	position: relative;
}

h1, h2, h3, h4 {font-family: 'Roboto', sans-serif; opacity: 0.8;}

p, li, a, span, div, input {font-family: 'Open Sans', sans-serif;}

/** HEADER **/

header {
	text-align: center;
	padding: 10px;
}

#main_title {
	text-decoration: underline;
	text-decoration-color: #c7332c;
}

/** CHOOSE A NAME **/

#choose_name_box {
	display: block;
	text-align: center;
	padding: 20px 10px;
	margin-top: 50%;
}

#input_choose_name {
	text-align: center;
	width: 45%;
	height: 30px;
	font-size: 1.2em;
	margin: 20px 0 15px 0; 
}

#submit_choose_name {
	display: block;
	margin: 10px auto;
	border: 2px solid #c7332c;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: white;
	font-size: 1em;
}


/** FOOTER **/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer a {
	color: white;
	font-size: 0.8em;
	text-decoration: none;
}



/** WELCOME MESSAGE **/

#welcome_message_box {
	display: none; 
	text-align: center;
	padding: 30px;
	margin: 0 auto;
	margin-top: 20%;
}

#userName {font-family: 'Roboto', sans-serif;}

#skill_box {
	border: 1px solid black;
	margin: 20px auto;
	width: 90%;
	background-color: rgb(240,240,240);
	padding: 5px;
}

#skill_box table {
	width: 100%;
}

#skill_box td {
	text-align: left;
	font-weight: bolder;
}

.long_row {width: 70%}
.small_row {width: 15%;}
.increase_skill_button {
	font-size: 1.5em;
	color: #c7332c;
}

#start_looking_for_jobs_button {
	border: 2px solid #c7332c;
	background-color: white;
	padding: 5px;
	font-size: 0.8em;
}

/** DASHBOARD **/

#dashboard {
	display: none;
	border: 1px solid #c7332c;
	background-color: rgb(240,240,240);
	width: 90%;
	margin: 20px auto;
	box-shadow: -1px 1px 1px black;
}

.right_align {text-align: right;}

#db_top_row, #db_mid_row {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

#db_skill_table {width: 100%; margin-top: 5px;}

.db_skill_name {
	padding-left: 10px;
	width: 50%;
}

.db_small_row {width: 8%;}

#db_leadership_button {display: none;}
#db_communication_button {display: none;}
#db_organisation_button {display: none;}
#db_teamBuilding_button {display: none;}

#db_fame {text-align: right; padding-right: 5px;}
#db_exp {text-align: right; padding-right: 5px;}


/** JOB POSTING PAGE **/

#job_posting_page {
	display: none;
	margin-top: 30px;
	width: 90%;
	margin: 0 auto;
}

#job_posting_page h2 {text-align: center;}

#job_listing {
	overflow: scroll;
	width: 100%;
	height: 300px;
	margin-top: 30px;
	border: 1px solid #c7332c;
	background-color: rgb(240,240,240);
	box-shadow: -1px 1px 1px black;
}

.job_post {
	border: 2px solid black;
	background-color: white;
	width: 80%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
}

.job_post li {
	font-size: 0.9em;
	margin-left: 20px;
	list-style-position: outside;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style: square;
}

.job_post p {font-size: 0.8em; text-align: justify;}
.job_post h5 {text-decoration: underline;}

.apply_button_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.apply_button {
	border: 1px solid black;
	padding: 5px;
	border-radius: 10px;
}

/** TASKS PAGE **/

#tasks_page {
	display: none;
	margin-top: 30px;
	width: 90%;
	margin: 0 auto;
}

#tasks_page h2 {text-align: center;}

.task_box {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


.task_box button {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
	width: 90%;
	border-radius: 15px;
	box-shadow: 1px 2px 2px black;
	position: relative;
}

.task_box button:active {
	top: 2px;
	transition: all 0.3s;
}

.task_box table {
	width: 100%;
}

.task_box td {
	width: 50%;
	font-size: 1.1em;s
	text-align: center;
}

.primary_font {font-family: 'Roboto', sans-serif; opacity: 0.8;}

/** MEDIA QUERIES **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#choose_name_box {
		margin-top: 20%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#choose_name_box {
		margin-top: 20%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#choose_name_box {
		margin-top: 10%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#choose_name_box {
		margin-top: 10%;
	}
}





























