/** 

font-family: 'Montserrat', sans-serif;
font-family: 'Indie Flower', cursive;

**/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2 {font-family: 'Indie Flower', cursive;}

p, a, h3, h4 {font-family: 'Montserrat', sans-serif;}

a {text-decoration: none;}


/** BANNER **/

.banner {
	height: 100vh;
	color: white;
	background-color: #183152;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title {text-align: center; font-size: 2em;}

/** PROJECT LIST **/

.goal-front:hover {
	box-shadow: 1px 1px grey;
}

.goal_top {
	height: 50%;
	border: 1px solid;
	box-sizing: border-box;
}

.goal_mid {
	height: 10%;
	border: 1px solid;
	box-sizing: border-box;
}

.goal_bottom {
	height: 40%;
	border: 1px solid;
	box-sizing: border-box;
}

.project_nb {font-size: 30px;}

.flip-card {
	width: 100%;
	height: 100%;
	position: relative; 
	transform-style: preserve-3d; 
}
.flip-card-container {perspective: 1000px;}
.flip-card-container.flip .flip-card {transform: rotateY(180deg);}
.goal-front, .goal-back{backface-visibility: hidden;}

.goal-back {position: absolute; transform: rotateY(180deg); overflow: scroll;}

#goal1 {background-color: #e61f3a;}
#gb1_1, #gb1_2, #gb1_3 {border-color: #e61f3a}
#goal1-back {color: #e61f3a; border-color: #e61f3a;}

#goal2 {background-color: #e3b535;}
#gb2_1, #gb2_2, #gb2_3 {border-color: #e3b535}
#goal2-back {color: #e3b535; border-color: #e3b535;}

#goal3 {background-color: #4c9d38;}
#gb3_1, #gb3_2, #gb3_3 {border-color: #4c9d38}
#goal3-back {color: #4c9d38; border-color: #4c9d38;}

#goal4 {background-color: #c3192d;}
#gb4_1, #gb4_2, #gb4_3 {border-color: #c3192d}
#goal4-back {color: #c3192d; border-color: #c3192d;}

#goal5 {background-color: #ff3a22;}
#gb5_1, #gb5_2, #gb5_3 {border-color: #ff3a22}
#goal5-back {color: #ff3a22; border-color: #ff3a22;}

#goal6 {background-color: #27bbe0;}
#gb6_1, #gb6_2, #gb6_3 {border-color: #27bbe0}
#goal6-back {color: #27bbe0; border-color: #27bbe0;}

#goal7 {background-color: #fac10a;}
#gb7_1, #gb7_2, #gb7_3 {border-color: #fac10a}
#goal7-back {color: #fac10a; border-color: #fac10a;}

#goal8 {background-color: #a01942;}
#gb8_1, #gb8_2, #gb8_3 {border-color: #a01942}
#goal8-back {color: #a01942; border-color: #a01942;}

#goal9 {background-color: #ff6924;}
#gb9_1, #gb9_2, #gb9_3 {border-color: #ff6924}
#goal9-back {color: #ff6924; border-color: #ff6924;}

#goal10 {background-color: #db1367;}
#gb10_1, #gb10_2, #gb10_3 {border-color: #db1367}
#goal10-back {color: #db1367; border-color: #db1367;}

#goal11 {background-color: #ff9d23;}
#gb11_1, #gb11_2, #gb11_3 {border-color: #ff9d23}
#goal11-back {color: #ff9d23; border-color: #ff9d23;}

#goal12 {background-color: #c7972c;}
#gb12_1, #gb12_2, #gb12_3 {border-color: #c7972c}
#goal12-back {color: #c7972c; border-color: #c7972c;}

#goal13 {background-color: #3f7e44;}
#gb13_1, #gb13_2, #gb13_3 {border-color: #3f7e44}
#goal13-back {color: #3f7e44; border-color: #3f7e44;}

#goal14 {background-color: #0b95d7;}
#gb14_1, #gb14_2, #gb14_3 {border-color: #0b95d7}
#goal14-back {color: #0b95d7; border-color: #0b95d7;}

#goal15 {background-color: #56c02c;}
#gb15_1, #gb15_2, #gb15_3 {border-color: #56c02c}
#goal15-back {color: #56c02c; border-color: #56c02c;}

#goal16 {background-color: #00689b;}
#gb16_1, #gb16_2, #gb16_3 {border-color: #00689b}
#goal16-back {color: #00689b; border-color: #00689b;}

#goal17 {background-color: #19486a;}
#gb17_1, #gb17_2, #gb17_3 {border-color: #19486a}
#goal17-back {color: #19486a; border-color: #19486a;}


.clear_float {
	clear: both;
}

footer {
	text-align: center;
	color: white;
	background-color: #183152;
	padding: 3px 10px 3px 10px;
	margin: 20px -8px 0 -8px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.flip-card-container {
		height: 200px;
		width: 80%;
		float: left;
		margin-top: 20px;
		margin-left: 10%;
		overflow: scroll;
		color: white;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-front {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		overflow: scroll;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-back {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		margin-top: 0px;
		margin-left: 0%;
		overflow: scroll;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.flip-card-container {
		height: 200px;
		width: 40%;
		float: left;
		margin-top: 20px;
		margin-left: 7%;
		color: white;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.flip-card {transition: transform 1s;}

	.goal-front {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-back {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.flip-card-container {
		height: 200px;
		width: 30%;
		float: left;
		margin-top: 20px;
		margin-left: 2.5%;
		color: white;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.flip-card {transition: transform 1s;}

	.goal-front {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-back {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.flip-card-container {
		height: 200px;
		width: 25%;
		float: left;
		margin-top: 20px;
		margin-left: 6%;
		color: white;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.flip-card {transition: transform 1s;}

	.goal-front {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-back {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.flip-card-container {
		height: 200px;
		width: 20%;
		float: left;
		margin-top: 20px;
		margin-left: 4%;
		color: white;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.flip-card {transition: transform 1s;}

	.goal-front {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.goal-back {
		height: 200px;
		width: 100%;
		border: 1px solid black;
		float: left;
		color: white;
		padding: 0 20px 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}
