/**

**/


/** GENERAL SETTINGS **/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.background {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, #43cea2, #185a9d);
  background-repeat: no-repeat;
}

/** HEADER **/

header {
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 40px 5px 40px 5px;
}

.fade-in {
  opacity: 0;
  transition: opacity 800ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/** MAIN **/

.first {
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}

.second {
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  color: white;
  text-align: right;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}

.third {
  width: 40%;
  font-size: 2em;
  margin: 0 auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}

.fourth {
  width: 40%;
  margin-left: 0;
  margin-right: auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}

.fifth {
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}

.sixth {
  width: 40%;
  margin: 0 auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 200px 20px 200px 20px;
}


.seventh {
  width: 40%;
  margin:0 auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 300px 20px 300px 20px;
}



