/** 

font-family: 'Manrope', sans-serif;

**/

/** GENERAL SETTING **/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4 {font-family: Arial, sans-serif; line-height: 1.2;}

p, a, li {font-family: Arial, sans-serif;}

li {list-style-type: none;}
a {text-decoration: underline; color: black;}

body {
	font-family: Arial, sans-serif;
	color: #5f5f5f;
	letter-spacing: 2px;
}

/** NAV BAR **/

nav {
	width: 100%;
	background-color: #FE6F62;
	border-bottom: 1px solid rgba(200,200,200,0.8);
	text-align: right;
	padding: 10px 0;	
}

nav li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	margin-right: 20px;
}

nav a {color: white; text-decoration: none;}

nav:after {clear: both;}

/** BANNER **/

#banner {
	width: 100%;
	height: 100vh;
	background-color: #FE6F62;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

/** WEB PAGES LIST **/

.web_pages_list {margin-left: 20px;}
.web_pages_list h1 {margin-bottom: 30px;}
.web_pages_list li {margin-bottom: 5px;}

/** MY CREATIONS 

#projects {
	text-align: center;
	margin-top: 60px;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 90%;
	margin: 20px auto;
}

.flex_box {
	width: 45%;
	margin: 10px 10px;
	box-shadow: 1px 1px 3px black;
	border-radius: 0 0 8px 8px;
}

.flex_text {padding: 10px; text-align: left;}

.flex_img img {width: 100%; height: 100%;}

**/

/** FOOTER **/

footer {
	height: auto;
	border-top: 1px solid rgb(200,200,200);
	background-color: rgba(150,150,150,0.8);
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

footer p, footer li {padding: 10px}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.flex_box {
		width: 90%;
	}

	.flex_img {
		height: 200px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.flex_box {
		width: 90%;
	}

	.flex_img {
		height: 200px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.flex_box {
		width: 45%;
	}

	.flex_img {
		height: 200px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.flex_box {
		width: 45%;
	}

	.flex_img {
		height: 200px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.flex_box {
		width: 45%;
	}

	.flex_img {
		height: 180px;
	}
}

