/** 

font-family: 'Manrope', sans-serif;

**/

/** GENERAL SETTING **/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4 {font-family: Arial, sans-serif; line-height: 1.2;}

p, a, li {font-family: Arial, sans-serif;}

li {list-style-type: none;}
a {text-decoration: underline; color: black;}

body {
	font-family: Arial, sans-serif;
	color: #5f5f5f;
	letter-spacing: 2px;
}

/** NAV BAR **/

nav {
	width: 100%;
	background-color: #FE6F62;
	border-bottom: 1px solid rgba(200,200,200,0.8);
	text-align: right;
	padding: 10px 0;	
}

nav li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	margin-right: 20px;
}

nav a {color: white; text-decoration: none;}

nav:after {clear: both;}

/** BANNER **/

#banner {
	width: 100%;
	height: 100vh;
	background-color: #FE6F62;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	margin-bottom: 30px;
	position: relative;
}

/** WEB PAGES LIST **/

.web_pages_list {margin-left: 20px;}
.text_align {margin-bottom: 30px; text-align: center;}

.today_webpage {
	border: 1px solid rgb(200,200,200);
	border-radius: 15px;
	padding: 20px;
	text-align: center;
	margin: 30px auto;
	width: 50%;
	color: white;
	background-color: rgb(254, 111, 98);
}

.today_webpage h5, .today_webpage h3{padding-bottom: 5px;}

.web_pages_list li {margin-bottom: 5px;}


/** FOOTER **/

footer {
	height: auto;
	border-top: 1px solid rgb(200,200,200);
	background-color: rgba(150,150,150,0.8);
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

footer p, footer li {padding: 10px}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.today_webpage {width: 90%;}
	.text_banner {font-size: 0.9em;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.today_webpage {width: 80%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

