/**

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;

**/

/** GENERAL SETTINGS **/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}

p, li, span, div, a {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: white;
	transition: background-color 2s ease;
}

td p {font-family: 'Press Start 2P', cursive;}
td span {font-family: 'Press Start 2P', cursive;}

/** CONTAINER **/

.container {
	width: 100%;
	height: 100vh;
	color: white;
	border: 3px solid black;
	background-color: #B09F91;
	position: relative;
}

#title {
	padding: 20px 10px;
	font-style: italic;
	text-align: center;
	color: black;
	border-bottom: 1px dashed black
}

.input_box {
	height: 17%;
	padding: 40px 10px;
	text-align: center;
}

#userInput {
	font-size: 1.2em;
}

#selected_degrees {
	font-size: 1.2em;
}

.button_box {
	width: 100%;
	text-align: center;
}

#button {
	background-color: white;
	color: black;
	border: 2px solid grey;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: inline-block;
}

.result_box {
	width: 100%;
}

.result_box td {
	width: 50%;
	height: 50px;
	padding-left: 15px;
	border: 1px solid black;
	background-color: white;
	color: green;
	border-radius: 15px;
	font-weight: bolder;
	font-size: 0.8em;
}



#userInput {width: 85px;}

#selected_degrees {
	background-color: white;
	color: black;
	border: 1px solid black;
}


/** FOOTER **/

.footer {
	height: 20%;
}

.footer a{
	color: white;
	text-decoration: none;
	font-style: italic;
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}






























