/**

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

**/

/** GENERAL SETTINGS **/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4 {font-family: 'Roboto', sans-serif;}
p, li, a, span, form {font-family: 'Open Sans', sans-serif;}

/** HEADER **/

#header {
	text-align: center;
	background-image: url("images/banner.jpg");
	background-size: cover;
	width: 100%;
	height: 750px;
}

#banner_text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(60,60,60);
	font-size: 4em
}

.red {color: red;}

/** ESCAPE **/

#escape_title {
	text-align: center;
	margin: 30px 20px;
	font-size: 2em;
	font-style: italic;
}

#plane {
	margin-left: 15px;
}

.destination-group {
	margin: 50px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20%;
	flex-wrap: wrap;
}

.destination-item {
	width: 25%;
	height: 300px;
	margin: 18px;
	position: relative;
	flex: 1 0 25%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 1px 1px 3px black;
}

.destination-item:hover {
	transform: scale(1.1);
	transition: 0.3s all;
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#barcelone {background-image: url(images/barcelone.jpg);}
#philippines {background-image: url(images/philippines.jpg);}
#dubai {background-image: url(images/dubai.jpg);}
#paris {background-image: url(images/paris.jpg);}
#london {background-image: url(images/londres.jpg);}
#tunis {background-image: url(images/tunis.jpg);}

.name {
	color: grey;
	background-color: white;
	position: relative;
	top: 10%;
	float: right;
	padding: 12px;
	font-size: 1.2em;
}

.price {
	color: white;
	background-color: #EF8F1D;
	padding: 12px;
	float: left;
	position: relative;
	top: 80%;
}

/** SEACH FORM 

form {
	background-color: #EF8F1D;
	padding: 20px;
}

.form_group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20%;
	flex-wrap: wrap;
}

.form_group input {
}

.form_group label {

}

.form_button {
	text-align: center;
}

.form_wrap {
	flex: 1 0 25%;
}

**/

/** FOOTER **/

.footer {
	height: 80px;
	background-color: grey;
	color: white;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.flex_footer {
	padding: 10px 20px;
}

/** MEDIA QUERIES **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.destination-item {
		flex: 1 0 50%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.destination-item {
		flex: 1 0 50%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.destination-item {
		flex: 1 0 40%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.destination-item {
		flex: 1 0 30%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.destination-item {
		flex: 1 0 25%;
	}
}











